{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<div class="fullsize-background-image-1">
    <img src="{% static 'common/assets/backgrounds/bg845.png'%}" />
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="login-page text-center animated fadeIn delay-2000">
                <h1>
                    Successfully Logged Out
                </h1>
                <h4>
                    Click below to login again
                </h4>

                <div class="row">
                    <div class="offset-xs-2 col-xs-8 offset-sm-3 col-sm-6 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
                        <div class="row buttons">
                            <div class="col-xs-12 col-md-12">
                                <!--<input type="submit" class="btn btn-lg btn-info btn-block m-b-20" value="Login">-->
                               <a href="{% url 'login' %}" class="btn btn-lg btn-info btn-block m-b-20">Login</a>
                            </div>
                            <!--<div class="col-xs-12 col-md-6"> <a href="#" class="btn btn-lg btn-danger btn-block m-b-20">Register</a>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <p class="copyright text-sm">&copy; Copyright 2016</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}